* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  text-align: center;
  /* p {
        font-size: 40px;
    } */ }
  header .menu {
    display: none; }
  header nav {
    background-color: #f7f4f1;
    padding: 20px 0; }
    header nav ul {
      width: 70%;
      margin-left: auto;
      display: flex;
      justify-content: space-around; }
      header nav ul a {
        color: #000;
        text-decoration: none; }
        header nav ul a li {
          list-style-type: none; }

.home {
  position: relative;
  background-color: rgba(213, 218, 211, 0.4);
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center; }
  .home-text {
    z-index: 2;
    position: relative;
    left: 100px;
    background-color: #fff;
    width: 40%;
    padding: 60px 40px; }
    .home-text h3, .home-text h2, .home-text button {
      margin: 30px 10px; }
    .home-text h3 {
      font-size: 14px;
      color: #F77F7F; }
    .home-text h2 {
      font-size: 48px;
      color: #414141;
      line-height: 5rem; }
    .home-text button {
      font-size: 14px;
      color: #F77F7F;
      background-color: #fff;
      border: 2px solid #F77F7F;
      padding: 10px 60px; }
  .home-image {
    background-image: url("../images/laptop.jpg");
    width: 50%;
    height: 750px;
    position: absolute;
    top: 0;
    right: 0; }

.home-two {
  position: relative;
  padding: 100px 0;
  display: flex; }
  .home-two-image {
    background-image: url("../images/laptop.jpg");
    width: 40%;
    height: 650px;
    position: absolute;
    left: 100px; }
  .home-two-text {
    background-color: #fff;
    width: 60%;
    margin: 100px 50px 0 auto; }
    .home-two-text .box {
      width: 75%;
      margin-left: auto;
      padding: 30px; }
      .home-two-text .box h2 {
        font-size: 38px;
        color: #414141;
        margin: 0 15px 30px;
        text-transform: capitalize;
        line-height: 3.5rem; }
      .home-two-text .box h3 {
        font-size: 14px;
        color: #F77F7F;
        margin: 40px 20px 30px; }
      .home-two-text .box .box-text {
        border-top: 2px solid #97C0C1;
        padding: 10px 20px; }
        .home-two-text .box .box-text h2 {
          font-size: 30px;
          color: #414141;
          margin: 5px 0; }
        .home-two-text .box .box-text p {
          font-size: 15px;
          padding: 5px 0; }

.description {
  background-color: rgba(213, 218, 211, 0.4);
  display: flex;
  padding: 100px;
  height: 700px; }
  .description-text {
    width: 40%;
    padding: 0 15px;
    margin: auto 0; }
    .description-text h2 {
      font-size: 46px;
      color: #414141;
      line-height: 4rem; }
    .description-text p {
      font-size: 18px;
      line-height: 25px;
      margin: 40px 0; }
  .description-bg-image {
    width: 40%;
    height: 650px;
    background-color: #F77F7F;
    margin: 0 auto 0 150px; }
    .description-bg-image .image {
      background-image: url("../images/laptop.jpg");
      width: 100%;
      height: 100%;
      transform: translate(-15px, -15px); }

.description-two {
  margin: 50px 0;
  text-align: center; }
  .description-two h2 {
    font-size: 48px;
    color: #414141;
    margin-bottom: 100px; }
  .description-two .actions {
    display: grid;
    width: 80%;
    margin: 100px auto 50px;
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 80px; }
    .description-two .actions-item {
      position: relative;
      padding: 0 30px; }
      .description-two .actions-item h4 {
        position: absolute;
        top: -60px;
        left: 15px;
        font-size: 100px; }
      .description-two .actions-item h3 {
        padding: 80px 30px 0;
        font-size: 14px;
        line-height: 22px; }
      .description-two .actions-item p {
        font-size: 15px;
        padding: 0 20px;
        margin: 20px 0; }
    .description-two .actions .bg-one {
      background-color: #e6fbfa; }
      .description-two .actions .bg-one h4 {
        color: #97C0C1; }
    .description-two .actions .bg-two {
      background-color: #ffe9e9; }
      .description-two .actions .bg-two h4 {
        color: #F77F7F; }
    .description-two .actions .bg-three {
      background-color: #f7f4f1; }
      .description-two .actions .bg-three h4 {
        color: #D9CBBB; }
  .description-two .actions-button {
    width: 100%;
    margin: 100px 0 50px; }
    .description-two .actions-button button {
      position: relative;
      top: -20px;
      background-color: violet;
      border: none;
      border-radius: 45px;
      cursor: pointer;
      width: 200px;
      padding: 40px 100px; }

.testimony {
  position: relative;
  background-image: url("../images/girl.jpg");
  background-size: cover;
  margin: 50px 0;
  width: 100%;
  height: 750px; }
  .testimony .transparence {
    background-color: rgba(226, 198, 218, 0.4);
    display: flex;
    height: 100%; }
    .testimony .transparence .testimony-image {
      position: absolute;
      top: 75px;
      left: 75px;
      background-image: url("../images/laptop.jpg");
      background-size: cover;
      width: 35%;
      height: 500px;
      margin-bottom: 100px; }
    .testimony .transparence .testimony-text {
      height: 500px;
      margin: 175px 100px 0 auto;
      background-color: rgba(255, 255, 255, 0);
      width: 50%;
      transition: 1s ease-in-out all; }
      .testimony .transparence .testimony-text div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-left: auto;
        padding: 20px 0; }
        .testimony .transparence .testimony-text div h2 {
          font-size: 48px;
          line-height: 1.4;
          color: #414141;
          margin: 20px 0; }
        .testimony .transparence .testimony-text div h3 {
          font-size: 14px;
          line-height: 22px;
          text-transform: uppercase;
          color: #F77F7F;
          margin: 18px 150px 18px 0; }
        .testimony .transparence .testimony-text div p {
          font-size: 15px;
          margin: 20px 0;
          padding: 0 50px 0 0;
          line-height: 28px; }
        .testimony .transparence .testimony-text div .testimony-btn {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: right; }
          .testimony .transparence .testimony-text div .testimony-btn button {
            position: absolute;
            bottom: 0;
            right: 20px;
            border: none;
            background-color: #fff;
            width: 0;
            height: 0;
            border-left: 20px solid #414141;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; }
    .testimony .transparence .animating {
      background-color: white;
      width: 60%; }

.modules {
  margin-top: 100px; }
  .modules-title {
    text-align: center; }
    .modules-title h2 {
      font-size: 48px;
      color: #414141;
      text-transform: capitalize; }
  .modules-grid {
    display: grid;
    grid-template-rows: repeat(4, 500px);
    grid-template-columns: 1fr;
    gap: 80px;
    margin: 100px; }
    .modules-grid .grid-box {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 1fr;
      gap: 40px; }
      .modules-grid .grid-box .module-text {
        background-color: #FFE9E9; }
        .modules-grid .grid-box .module-text .module-number {
          background-color: #F77F7F;
          color: #fff;
          width: 30%;
          padding: 15px;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase; }
        .modules-grid .grid-box .module-text .module-info {
          margin: 50px 35px; }
          .modules-grid .grid-box .module-text .module-info h2 {
            font-size: 30px;
            color: #414141;
            margin: 20px 0; }
          .modules-grid .grid-box .module-text .module-info ul {
            list-style-type: none; }
            .modules-grid .grid-box .module-text .module-info ul li {
              font-size: 15px;
              margin: 40px 0; }
            .modules-grid .grid-box .module-text .module-info ul li::before {
              content: "+";
              padding-right: 4px;
              font-size: 14px; }
      .modules-grid .grid-box .module-image {
        background-image: url("../images/background.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px; }
        .modules-grid .grid-box .module-image .image-frame {
          background-color: #000;
          border-radius: 10px;
          padding: 8px;
          width: 50%;
          height: 65%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -4px 4px 5px 2px rgba(78, 77, 77, 0.6); }
          .modules-grid .grid-box .module-image .image-frame img {
            width: 100%;
            height: 100%; }
    .modules-grid .par {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 1fr;
      gap: 40px; }
      .modules-grid .par .module-text {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2; }
      .modules-grid .par .module-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2; }
  .modules-btn {
    width: 100%;
    margin: 100px 0 50px;
    text-align: center; }
    .modules-btn button {
      position: relative;
      top: -20px;
      background-color: violet;
      border: none;
      border-radius: 45px;
      cursor: pointer;
      width: 200px;
      padding: 40px 100px; }

.article {
  position: relative;
  margin: 5px;
  display: flex;
  height: 730px; }
  .article-one {
    position: relative; }
    .article-one .first-image {
      position: relative;
      left: 60px; }
      .article-one .first-image img {
        width: 350px;
        height: 350px; }
    .article-one .second-image {
      position: absolute;
      top: 280px;
      left: 160px;
      background-color: #fff;
      padding: 10px; }
      .article-one .second-image img {
        width: 450px;
        height: 350px; }
  .article-two .first-text {
    position: relative;
    left: 100px;
    width: 80%;
    padding: 30px 30px; }
    .article-two .first-text h2 {
      font-size: 48px;
      color: #414141;
      line-height: 4.5rem; }
  .article-two .second-text {
    position: relative;
    left: 300px;
    width: 60%;
    padding: 20px; }
    .article-two .second-text p {
      font-size: 17px;
      padding-right: 50px;
      margin: 30px; }
    .article-two .second-text p.enphasis {
      text-transform: uppercase; }
  .article-bg {
    z-index: -1;
    position: absolute;
    top: 220px;
    left: 10px;
    background-color: #E6FBFA80;
    height: 490px;
    width: 80%; }

.client-tips {
  background-color: #ffe9e9;
  padding: 50px 100px 0; }
  .client-tips-columns {
    display: flex;
    justify-content: center; }
    .client-tips-columns .column h3 {
      margin: 30px 0 40px 40px;
      font-size: 30px;
      color: #F77F7F; }
    .client-tips-columns .column ul {
      padding: 0 50px 50px 40px; }
      .client-tips-columns .column ul div {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #97C0C1;
        margin: 20px 30px 20px 0; }
        .client-tips-columns .column ul div img {
          width: 25px;
          height: 25px; }
        .client-tips-columns .column ul div li {
          list-style-type: none;
          font-size: 18px;
          line-height: 28px;
          padding: 20px 30px; }
      .client-tips-columns .column ul div:last-child {
        border-bottom: none; }

.selling {
  margin: 50px; }
  .selling-title {
    text-align: center; }
    .selling-title h2 {
      font-size: 48px;
      color: #414141;
      margin: 20px 0; }
    .selling-title h3 {
      font-size: 14px;
      color: #F77F7F;
      text-transform: uppercase;
      margin: 20px 0; }
  .selling-boxes {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 50px; }
    .selling-boxes .sell-box {
      position: relative;
      text-align: center; }
      .selling-boxes .sell-box-number {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        margin: auto;
        width: 60px;
        font-size: 50px;
        color: #fff;
        padding: 15px;
        border-radius: 45px; }
      .selling-boxes .sell-box h4 {
        font-size: 14px;
        text-transform: uppercase;
        margin: 100px 0 30px; }
      .selling-boxes .sell-box h3 {
        font-size: 30px;
        text-transform: capitalize;
        margin: 30px 0; }
      .selling-boxes .sell-box p {
        font-size: 50px;
        margin: 30px 0; }
      .selling-boxes .sell-box button {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 0 30px 0;
        width: 60%;
        padding: 15px; }
    .selling-boxes .box-one {
      background-color: #e6fbfa; }
      .selling-boxes .box-one .sell-box-number {
        background-color: #97C0C1; }
      .selling-boxes .box-one button {
        border-color: #97C0C1;
        background-color: #e6fbfa; }
    .selling-boxes .box-two {
      background-color: #ffe9e9; }
      .selling-boxes .box-two .sell-box-number {
        background-color: #F77F7F; }
      .selling-boxes .box-two button {
        border-color: #F77F7F;
        background-color: #ffe9e9; }
    .selling-boxes .box-three {
      background-color: #f7f4f1; }
      .selling-boxes .box-three .sell-box-number {
        background-color: #D9CBBB; }
      .selling-boxes .box-three button {
        border-color: #D9CBBB;
        background-color: #f7f4f1; }

footer {
  background-color: #f7f4f1; }
  footer ul {
    padding: 15px 0;
    display: flex;
    justify-content: space-around; }
    footer ul li {
      list-style-type: none; }

@media screen and (max-width: 576px) {
  header {
    width: 100%; }
    header .menu {
      display: block;
      font-size: 30px;
      padding: 20px 0; }
    header nav {
      display: none;
      z-index: 2;
      width: 60%;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgba(247, 244, 241, 0.4);
      padding: 15px;
      text-align: left; }
      header nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        header nav ul a {
          color: #000;
          text-decoration: none;
          padding: 15px 0; }
          header nav ul a li {
            list-style-type: none; }
    header .active {
      display: block; }
  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    height: 720px; }
    .home-text {
      z-index: 2;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      background-color: #fff;
      width: 80%;
      padding: 10px 5px;
      margin: auto;
      text-align: center; }
      .home-text h3, .home-text h2, .home-text button {
        margin: 20px 10px; }
      .home-text h3 {
        font-size: 14px;
        color: #F77F7F;
        display: block;
        width: 60%;
        margin: 20px auto; }
      .home-text h2 {
        font-size: 28px;
        color: #414141;
        line-height: 2.5rem; }
      .home-text button {
        font-size: 14px;
        color: #F77F7F;
        background-color: #fff;
        border: 2px solid #F77F7F;
        padding: 10px 60px; }
    .home-image {
      background-image: url("../images/laptop.jpg");
      background-size: cover;
      width: 100%;
      height: 450px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0; }
  .home-two-image {
    background-size: cover;
    width: 70%;
    height: 500px;
    position: absolute;
    left: 0; }
  .home-two-text {
    background-color: #fff;
    width: 80%;
    margin: 400px auto 0 auto; }
    .home-two-text .box {
      width: 90%;
      margin: 120px auto 0 auto;
      padding: 20px; }
      .home-two-text .box h2 {
        font-size: 24px;
        color: #414141;
        margin: 0 15px 30px;
        text-transform: capitalize;
        line-height: 2rem; }
      .home-two-text .box h3 {
        font-size: 12px;
        color: #F77F7F;
        margin: 40px 20px 30px; }
      .home-two-text .box .box-text {
        border-top: 2px solid #97C0C1;
        padding: 10px 20px; }
        .home-two-text .box .box-text h2 {
          font-size: 24px;
          color: #414141;
          margin: 5px 0; }
        .home-two-text .box .box-text p {
          font-size: 15px;
          padding: 5px 0; }
  .description {
    display: flex;
    flex-direction: column-reverse;
    padding: 100px 0 50px 0;
    height: 1200px; }
    .description-bg-image {
      width: 80%;
      height: 500px;
      background-color: #F77F7F;
      margin: 0px 0 0 auto; }
      .description-bg-image .image {
        background-image: url("../images/laptop.jpg");
        background-size: cover;
        width: 100%;
        height: 500px;
        transform: translate(-10%, -20px); }
    .description-text {
      width: 70%;
      padding: 20px;
      margin: 30px auto; }
      .description-text h2 {
        font-size: 36px;
        color: #414141;
        line-height: 3rem; }
      .description-text p {
        font-size: 18px;
        line-height: 25px;
        margin: 30px 0; }
  .description-two {
    margin: 50px 0;
    text-align: center; }
    .description-two h2 {
      font-size: 30px;
      color: #414141;
      margin-bottom: 100px; }
    .description-two .actions {
      display: grid;
      width: 80%;
      margin: 100px auto 50px;
      padding: 0 20px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      gap: 80px; }
      .description-two .actions-item {
        position: relative;
        padding: 0 30px; }
        .description-two .actions-item h4 {
          position: absolute;
          top: -60px;
          left: 15px;
          font-size: 100px; }
        .description-two .actions-item h3 {
          padding: 60px 30px 0;
          font-size: 20px;
          letter-spacing: 0.1em;
          line-height: 26px; }
        .description-two .actions-item p {
          font-size: 21px;
          line-height: 28px;
          padding: 0 30px;
          margin: 30px 0; }
  .testimony {
    position: relative;
    background-image: url("../images/girl.jpg");
    background-size: cover;
    margin: 50px 0;
    width: 100%;
    height: 1100px; }
    .testimony .transparence {
      background-color: rgba(226, 198, 218, 0.4);
      display: flex;
      height: 100%; }
      .testimony .transparence .testimony-image {
        top: 20px;
        left: 0;
        width: 70%;
        height: 300px;
        margin-bottom: 100px; }
      .testimony .transparence .testimony-text {
        background-color: #fff;
        width: 80%;
        height: 75%;
        margin: 220px auto 100px auto; }
        .testimony .transparence .testimony-text div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 80%;
          margin: 0 auto;
          padding: 20px 0;
          height: 100%; }
          .testimony .transparence .testimony-text div h2 {
            display: none;
            font-size: 48px;
            line-height: 1.4;
            color: #414141;
            margin: 20px 0; }
          .testimony .transparence .testimony-text div h3 {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-align: center;
            color: #F77F7F;
            margin: 0;
            padding: 100px 0 0 0; }
          .testimony .transparence .testimony-text div p {
            font-size: 20px;
            margin: 50px 0 0 0;
            padding: 0 0 0 0;
            line-height: 33px; }
          .testimony .transparence .testimony-text div .testimony-sign {
            text-align: left;
            padding: 50px 0 0 0; }
          .testimony .transparence .testimony-text div .testimony-btn {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: right; }
            .testimony .transparence .testimony-text div .testimony-btn button {
              position: absolute;
              bottom: 50px;
              right: 15px;
              border: none;
              background-color: #fff;
              width: 0;
              height: 0;
              border-left: 20px solid #414141;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent; }
  .modules {
    margin-top: 80px; }
    .modules-title h2 {
      font-size: 30px; }
    .modules-grid {
      display: grid;
      grid-template-rows: repeat(4, 900px);
      grid-template-columns: 1fr;
      gap: 100px;
      margin: 100px 0; }
      .modules-grid .grid-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 550px 200px;
        gap: 40px; }
        .modules-grid .grid-box .module-text {
          position: relative;
          background-color: #FFE9E9; }
          .modules-grid .grid-box .module-text .module-number {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
            background-color: #F77F7F;
            color: #fff;
            width: 300px;
            padding: 15px;
            text-align: center;
            font-size: 14px;
            text-transform: uppercase; }
          .modules-grid .grid-box .module-text .module-info {
            margin: 50px 35px; }
            .modules-grid .grid-box .module-text .module-info h2 {
              font-size: 30px;
              color: #414141;
              margin: 20px 0; }
            .modules-grid .grid-box .module-text .module-info ul {
              list-style-type: none; }
              .modules-grid .grid-box .module-text .module-info ul li {
                font-size: 15px;
                margin: 40px 0; }
              .modules-grid .grid-box .module-text .module-info ul li::before {
                content: "+";
                padding-right: 4px;
                font-size: 14px; }
        .modules-grid .grid-box .module-image {
          background-image: url("../images/background.png");
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 250px; }
          .modules-grid .grid-box .module-image .image-frame {
            position: absolute;
            top: -100px;
            background-color: #000;
            border-radius: 10px;
            padding: 8px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250px;
            box-shadow: -4px 4px 5px 2px rgba(78, 77, 77, 0.6); }
            .modules-grid .grid-box .module-image .image-frame img {
              width: 100%;
              height: 100%; }
      .modules-grid .par {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 550px 200px;
        gap: 40px; }
        .modules-grid .par .module-text {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2; }
        .modules-grid .par .module-image {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3; }
    .modules-btn {
      width: 100%;
      margin: 100px 0 50px;
      text-align: center; }
      .modules-btn button {
        position: relative;
        top: -20px;
        background-color: violet;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        width: 200px;
        padding: 40px 100px; }
  .article {
    position: relative;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 1200px; }
    .article-one {
      position: relative; }
      .article-one .first-image {
        position: relative;
        top: 150px;
        left: 0; }
        .article-one .first-image img {
          width: 200px;
          height: 220px; }
      .article-one .second-image {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        background-color: #fff;
        padding: 0 0 10px 10px; }
        .article-one .second-image img {
          width: 250px;
          height: 300px; }
    .article-two .first-text {
      position: relative;
      top: 150px;
      left: 0;
      margin: 0 auto;
      width: 80%;
      padding: 30px 30px; }
      .article-two .first-text h2 {
        font-size: 30px;
        color: #414141;
        line-height: 3rem;
        text-align: center; }
    .article-two .second-text {
      position: relative;
      top: 130px;
      left: 0;
      margin: 0 auto;
      width: 80%;
      padding: 0; }
      .article-two .second-text p {
        font-size: 17px;
        padding-right: 0;
        margin: 30px 0; }
      .article-two .second-text p.enphasis {
        text-transform: uppercase;
        text-align: center; }
    .article-bg {
      z-index: -1;
      position: absolute;
      top: 180px;
      left: 0;
      background-color: #E6FBFA80;
      height: 540px;
      width: 60%; }
  .client-tips {
    background-color: #ffe9e9;
    padding: 50px 0; }
    .client-tips-columns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .client-tips-columns .column h3 {
        margin: 20px 0;
        font-size: 30px;
        color: #F77F7F;
        text-align: center; }
      .client-tips-columns .column ul {
        padding: 30px 0; }
        .client-tips-columns .column ul div {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 2px solid #97C0C1;
          margin: 20px 30px; }
          .client-tips-columns .column ul div img {
            width: 25px;
            height: 25px; }
          .client-tips-columns .column ul div li {
            list-style-type: none;
            font-size: 18px;
            line-height: 28px;
            padding: 20px 30px; }
        .client-tips-columns .column ul div:last-child {
          border-bottom: none; }
  .selling {
    margin: 50px; }
    .selling-title {
      text-align: center; }
      .selling-title h2 {
        font-size: 30px;
        color: #414141;
        margin: 20px 0; }
      .selling-title h3 {
        font-size: 14px;
        color: #F77F7F;
        text-transform: uppercase;
        margin: 20px 0; }
    .selling-boxes {
      margin: 70px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 80px; }
      .selling-boxes .sell-box {
        position: relative;
        text-align: center; }
        .selling-boxes .sell-box-number {
          position: absolute;
          top: -40px;
          left: 0;
          right: 0;
          margin: auto;
          width: 60px;
          font-size: 50px;
          color: #fff;
          padding: 15px;
          border-radius: 45px; }
        .selling-boxes .sell-box h4 {
          font-size: 14px;
          text-transform: uppercase;
          margin: 100px 0 30px; }
        .selling-boxes .sell-box h3 {
          font-size: 30px;
          text-transform: capitalize;
          margin: 30px 0; }
        .selling-boxes .sell-box p {
          font-size: 50px;
          margin: 30px 0; }
        .selling-boxes .sell-box button {
          font-size: 14px;
          text-transform: uppercase;
          margin: 0 0 30px 0;
          width: 60%;
          padding: 15px; }
      .selling-boxes .box-one {
        background-color: #e6fbfa; }
        .selling-boxes .box-one .sell-box-number {
          background-color: #97C0C1; }
        .selling-boxes .box-one button {
          border-color: #97C0C1;
          background-color: #e6fbfa; }
      .selling-boxes .box-two {
        background-color: #ffe9e9; }
        .selling-boxes .box-two .sell-box-number {
          background-color: #F77F7F; }
        .selling-boxes .box-two button {
          border-color: #F77F7F;
          background-color: #ffe9e9; }
      .selling-boxes .box-three {
        background-color: #f7f4f1; }
        .selling-boxes .box-three .sell-box-number {
          background-color: #D9CBBB; }
        .selling-boxes .box-three button {
          border-color: #D9CBBB;
          background-color: #f7f4f1; }
  footer {
    background-color: #f7f4f1; }
    footer ul {
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      text-align: center; }
      footer ul li {
        list-style-type: none;
        padding: 15px 0; } }
